#include <windows.h>
#include "version.h"   // erzeugt, siehe res/version.h.in

1 ICON "app.ico"
1 RT_MANIFEST "app.manifest"

VS_VERSION_INFO VERSIONINFO
FILEVERSION    GL_VERSION_MAJOR,GL_VERSION_MINOR,GL_VERSION_PATCH,0
PRODUCTVERSION GL_VERSION_MAJOR,GL_VERSION_MINOR,GL_VERSION_PATCH,0
FILEOS         VOS_NT_WINDOWS32
FILETYPE       VFT_APP
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040704b0"
        BEGIN
            VALUE "FileDescription", "ghub-lite"
            VALUE "FileVersion",     GL_VERSION_FULL
            VALUE "InternalName",    "ghub-lite"
            VALUE "OriginalFilename","ghub-lite.exe"
            VALUE "ProductName",     "ghub-lite"
            VALUE "ProductVersion",  GL_VERSION_FULL
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x407, 1200
    END
END
