#include <windows.h>

1 ICON "app.ico"
1 RT_MANIFEST "app.manifest"

VS_VERSION_INFO VERSIONINFO
FILEVERSION    0,1,0,0
PRODUCTVERSION 0,1,0,0
FILEOS         VOS_NT_WINDOWS32
FILETYPE       VFT_APP
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040704b0"
        BEGIN
            VALUE "FileDescription", "ghub-lite"
            VALUE "FileVersion",     "0.1.0.0"
            VALUE "InternalName",    "ghub-lite"
            VALUE "OriginalFilename","ghub-lite.exe"
            VALUE "ProductName",     "ghub-lite"
            VALUE "ProductVersion",  "0.1.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x407, 1200
    END
END
